In [1]:
#%matplotlib inline

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chipinge,ZW,2021-09-22 22:45:29,-20.1883,32.6236,54.81,87,55,3.78
1,1,Busselton,AU,2021-09-22 22:43:34,-33.6500,115.3333,51.08,91,1,9.31
2,2,Port Hedland,AU,2021-09-22 22:45:29,-20.3167,118.5667,73.45,12,100,6.91
3,3,Ushuaia,AR,2021-09-22 22:43:29,-54.8000,-68.3000,44.22,87,75,28.77
4,4,Barrow,US,2021-09-22 22:45:02,71.2906,-156.7887,32.02,64,90,16.11

In [4]:
#get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Lorengau,PG,2021-09-22 22:45:30,-2.0226,147.2712,82.04,79,97,8.99
9,9,Bethel,US,2021-09-22 22:43:29,41.3712,-73.4140,76.05,86,75,1.01
13,13,Iracoubo,GF,2021-09-22 22:45:32,5.4802,-53.2011,80.83,82,72,11.01
14,14,Albany,US,2021-09-22 22:41:08,42.6001,-73.9662,76.03,78,90,10.89
15,15,Westport,US,2021-09-22 22:41:24,41.1415,-73.3579,77.31,88,75,1.99
16,16,El Tigre,VE,2021-09-22 22:45:32,8.8875,-64.2454,80.98,65,95,4.88
21,21,Dingle,PH,2021-09-22 22:45:34,10.9995,122.6711,77.99,88,91,3.65
36,36,Avarua,CK,2021-09-22 22:43:39,-21.2078,-159.7750,75.25,69,75,9.22
37,37,Atuona,PF,2021-09-22 22:43:58,-9.8000,-139.0333,78.08,72,16,18.34
40,40,Vaini,TO,2021-09-22 22:43:30,-21.2000,-175.2000,77.16,83,40,10.36

In [14]:
preferred_cities_df.count()

City_ID       175
City          175
Country       175
Date          175
Lat           175
Lng           175
Max Temp      175
Humidity      175
Cloudiness    175
Wind Speed    175
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

        City Country  Max Temp      Lat       Lng Hotel Name
5   Lorengau      PG     82.04  -2.0226  147.2712
9     Bethel      US     76.05  41.3712  -73.4140
13  Iracoubo      GF     80.83   5.4802  -53.2011
14    Albany      US     76.03  42.6001  -73.9662
15  Westport      US     77.31  41.1415  -73.3579
16  El Tigre      VE     80.98   8.8875  -64.2454
21    Dingle      PH     77.99  10.9995  122.6711
36    Avarua      CK     75.25 -21.2078 -159.7750
37    Atuona      PF     78.08  -9.8000 -139.0333
40     Vaini      TO     77.16 -21.2000 -175.2000

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Lorengau,PG,82.04,-2.0226,147.2712,Lorengau Harbourside Hotel
9,Bethel,US,76.05,41.3712,-73.4140,Courtyard by Marriott Danbury
13,Iracoubo,GF,80.83,5.4802,-53.2011,Le Gîte d’Iracoubo
14,Albany,US,76.03,42.6001,-73.9662,
15,Westport,US,77.31,41.1415,-73.3579,The Westport Inn
16,El Tigre,VE,80.98,8.8875,-64.2454,Hotel Santa Cruz
21,Dingle,PH,77.99,10.9995,122.6711,SEGAYA PROPERTY
36,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
37,Atuona,PF,78.08,-9.8000,-139.0333,Villa Enata
40,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))